﻿
@{
    ViewData["Title"] = "Index";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--<style type="text/css">
    .g {
        background: linear-gradient(to right, #66ff99 0%, #ffcccc 100%);
    }
</style>-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    function Save() {
        var totalrow = $("#HDNtotno").val();
        var rgbarry = new Array();
        var marry = {};
        for (var i = 0; i <= parseInt(totalrow); i++) {
            if ($("#dvr_" + i + "").length > 0) {
                if ($("#dvr_" + i + "").css('border') == '1.99653px solid rgb(0, 255, 0)') {
                    if (rgbarry.length > 0) {
                        rgbarry.push('$');
                        rgbarry.push($("#dvr_" + i + "").css('background-color'));
                    }
                    else {
                        rgbarry.push($("#dvr_" + i + "").css('background-color'));
                    }
                   
                    for (var j = i+1; j <= parseInt(totalrow); j++) {
                        if ($("#dvr_" + j + "").css('border') != '1.99653px solid rgb(0, 255, 0)') {
                            $("#dvr_" + j + "").css({ 'border': '2px solid lime' });
                            rgbarry.push($("#dvr_" + j + "").css('background-color'));
                        }
                        else {
                             rgbarry.push($("#dvr_" + j + "").css('background-color'));
                            i = j;
                            break;
                        }
                    }

                }
            }
        }
        var data1 = {
            Catagory: $("#ddl :selected").val(),
            stRange: $("#lblVal").text(),
            stBaseColor: $("#HdnCol").val(),
            stVal: JSON.stringify(rgbarry)
        };
        $.ajax({
            type: "POST",
            url: "/Home/Insert",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: data1,
            success: function (d) {
                alert("Record Save Successfully");
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("error");
            }
        });
        return false;
    }
    var Clicks = 0;
    function get(sender) {
        Clicks += 1;
        // alert(Clicks);
        var idProp = $(sender).prop('id'); //
        var fields = idProp.split("_");
        var Name = fields[0];
        var Id = fields[1];
        var index = '';
        var Rowno = $("#HDNtotno").val();
        for (var i = parseInt(Id); i >= 0; i--) {
            if ($("#" + Name + "_" + i + "").length > 0) {
                if ($("#" + Name + "_" + i + "").css('border') != '2px solid lime') {
                    $("#" + Name + "_" + Id + "").css({ 'border': '2px solid lime' });
                }
                else {
                    break;
                }
            }
            else {
                index = i;
                break;
            }

        }
        //for (var i = parseInt(index) -1; i <= parseInt(Id); i++) {
        //    if ($("#" + Name + "_" + i + "").length > 0) {
        //        if ($("#" + Name + "_" + i + "").css('border') == '2px solid lime') {
        //            for (var j = parseInt(i); j <= parseInt(Id); j++) {
        //            $("#" + Name + "_" + j + "").css({ 'border': '2px solid lime' });
        //             }
        //        }
        //        else {
        //            break;
        //        }

        //    }
        //    else {
        //        break;
        //    }

        //}
    }

    function updateTextInput(sender) {
        // alert(sender);
        $("#lblVal").text(sender);
        loadcol();

        $('#customRange3').val(sender);
        //$("gdrow").replace(/<br\W?\\?>(\W?(<br\W?\\?>)+)+/g, "<br>");
        // $('body').html($('body').html().replace(/<br\W?\\?>(\W?(<br\W?\\?>)+)+/g, "<br>"));
    }
    //function getEventTarget(e) {
    //    e = e || window.event;
    //    return e.target || e.srcElement;
    //}

    //var ul = document.getElementById('test');
    //ul.onclick = function (event) {parseInt
    //    var target = getEventTarget(event);
    //    alert(target.innerHTML);
    //};
    function loadcol() {
        debugger;
        var R = 0;
        var G = 0;
        var B = 0;
        var rgbarry = new Array();
        var marry = {};
        var slider = $("#lblVal").text();
        var limit = 273;
        if (parseInt(slider) == 10) {
            limit = 260;
        }
        else if (parseInt(slider) == 20) {
            limit = 260;
        }
        else if (parseInt(slider) == 30) {
            limit = 270;
        }
        else if (parseInt(slider) == 40) {
            limit = 280;
        }
        else if (parseInt(slider) == 50) {
            limit = 300;
        }
        else if (parseInt(slider) == 60) {
            limit = 300;
        }
        else if (parseInt(slider) == 70) {
            limit = 350;
        }
        else if (parseInt(slider) == 80) {
            limit = 400;
        }
        else if (parseInt(slider) == 90) {
            limit = 360;
        }
        else if (parseInt(slider) == 100) {
            limit = 300;
        }
        for (var i = 0; i <= parseInt(limit); i += parseInt(slider)) {
            marry = {
                r: (parseInt(0) + i) > 255 ? 255 : (parseInt(0) + i), g: 0, b: 0
            };
            if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
            else {
                rgbarry.push(marry);
            }


        }
        marry = {
            r: -1, g: -1, b: -1
        };
        rgbarry.push(marry);
        for (var i = 0; i <= parseInt(limit); i += parseInt(slider)) {
            marry = {
                r: 0, g: (parseInt(0) + i) > 255 ? 255 : (parseInt(0) + i), b: 0
            };
            if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
            else {
                rgbarry.push(marry);
            }
        }
        marry = {
            r: -1, g: -1, b: -1
        };
        rgbarry.push(marry);
        for (var i = 0; i <= parseInt(limit); i += parseInt(slider)) {
            marry = {
                r: 0, g: 0, b: (parseInt(0) + i) > 255 ? 255 : (parseInt(0) + i)
            };
            if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
            else {
                rgbarry.push(marry);
            }
        }
        marry = {
            r: -1, g: -1, b: -1
        };
        rgbarry.push(marry);
        // R = 10;
        for (var i = parseInt(slider); i <= parseInt(limit); i += parseInt(slider)) {
            if (R < 255) {
                for (var j = 0; j <= parseInt(limit); j += parseInt(slider)) {
                    marry = {
                        r: (parseInt(R) + i) > 255 ? 255 : (parseInt(R) + i), g: (parseInt(0) + j) > 255 ? 255 : (parseInt(0) + j), b: 0
                    };
                    if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                    else {
                        rgbarry.push(marry);
                    }
                    //marry = {
                    //    r: -1, g: -1, b: -1
                    //};
                    //rgbarry.push(marry);
                    for (var m = 0; m <= parseInt(limit); m += parseInt(slider)) {
                        marry = {
                            r: (parseInt(R) + i) > 255 ? 255 : (parseInt(R) + i), g: (parseInt(0) + j) > 255 ? 255 : (parseInt(0) + j), b: (parseInt(0) + m) > 255 ? 255 : (parseInt(0) + m)
                        };
                        if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                        else {
                            rgbarry.push(marry);
                        }

                    }
                    marry = {
                        r: -1, g: -1, b: -1
                    };
                    rgbarry.push(marry);
                }
                for (var k = 0; k <= parseInt(limit); k += parseInt(slider)) {
                    marry = {
                        r: (parseInt(R) + i) > 255 ? 255 : (parseInt(R) + i), g: 0, b: (parseInt(0) + k) > 255 ? 255 : (parseInt(0) + k)
                    };
                    if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                    else {
                        rgbarry.push(marry);
                    }
                    for (var n = 0; n <= parseInt(limit); n += parseInt(slider)) {
                        marry = {
                            r: (parseInt(R) + i) > 255 ? 255 : (parseInt(R) + i), g: (parseInt(0) + n) > 255 ? 255 : (parseInt(0) + n), b: (parseInt(0) + k) > 255 ? 255 : (parseInt(0) + k)
                        };
                        if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                        else {
                            rgbarry.push(marry);
                        }
                    }
                    marry = {
                        r: -1, g: -1, b: -1
                    };
                    rgbarry.push(marry);
                }
                //marry = {
                //    r: -1, g: -1, b: -1
                //};
                //rgbarry.push(marry);
            }

        }
        //  G = 10;
        for (var i = parseInt(slider); i <= parseInt(limit); i += parseInt(slider)) {
            if (G <= 255) {
                for (var j = 0; j <= parseInt(limit); j += parseInt(slider)) {
                    marry = {
                        r: (parseInt(0) + j) > 255 ? 255 : (parseInt(0) + j), g: (parseInt(G) + i) > 255 ? 255 : (parseInt(G) + i), b: 0
                    };
                    if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                    else {
                        rgbarry.push(marry);
                    }
                    for (var m = 0; m <= parseInt(limit); m += parseInt(slider)) {
                        marry = {
                            r: (parseInt(0) + j) > 255 ? 255 : (parseInt(0) + j), g: (parseInt(G) + i) > 255 ? 255 : (parseInt(G) + i), b: (parseInt(G) + m) > 255 ? 255 : (parseInt(G) + m)
                        };
                        if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                        else {
                            rgbarry.push(marry);
                        }
                    }
                    marry = {
                        r: -1, g: -1, b: -1
                    };
                    rgbarry.push(marry);
                }
                for (var k = 0; k <= parseInt(limit); k += parseInt(slider)) {
                    marry = {
                        r: 0, g: (parseInt(G) + i) > 255 ? 255 : (parseInt(G) + i), b: (parseInt(0) + k) > 255 ? 255 : (parseInt(0) + k)
                    };
                    if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                    else {
                        rgbarry.push(marry);
                    }
                    for (var n = 0; n <= parseInt(limit); n += parseInt(slider)) {
                        marry = {
                            r: (parseInt(0) + n) > 255 ? 255 : (parseInt(0) + n), g: (parseInt(G) + i) > 255 ? 255 : (parseInt(G) + i), b: (parseInt(0) + k) > 255 ? 255 : (parseInt(0) + k)
                        };
                        if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                        else {
                            rgbarry.push(marry);
                        }

                    }
                    marry = {
                        r: -1, g: -1, b: -1
                    };
                    rgbarry.push(marry);
                }
            }

        }
        // B = 10;
        for (var i = parseInt(slider); i <= parseInt(limit); i += parseInt(slider)) {
            if (B <= 255) {
                for (var j = 0; j <= parseInt(limit); j += parseInt(slider)) {
                    marry = {
                        r: (parseInt(0) + j) > 255 ? 255 : (parseInt(0) + j), g: 0, b: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i)
                    };
                    if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                    else {
                        rgbarry.push(marry);
                    }
                    for (var m = 0; m <= parseInt(limit); m += parseInt(slider)) {
                        marry = {
                            r: (parseInt(0) + j) > 255 ? 255 : (parseInt(0) + j), g: (parseInt(0) + m) > 255 ? 255 : (parseInt(0) + m), b: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i)
                        };
                        if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                        else {
                            rgbarry.push(marry);
                        }
                    }
                    marry = {
                        r: -1, g: -1, b: -1
                    };
                    rgbarry.push(marry);
                }
                for (var k = 0; k <= parseInt(limit); k += parseInt(slider)) {
                    marry = {
                        r: 0, g: (parseInt(0) + k) > 255 ? 255 : (parseInt(0) + k), b: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i)
                    };
                    if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                    else {
                        rgbarry.push(marry);
                    }
                    for (var n = 0; n <= parseInt(limit); n += parseInt(slider)) {
                        marry = {
                            r: (parseInt(0) + n) > 255 ? 255 : (parseInt(0) + n), g: (parseInt(0) + k) > 255 ? 255 : (parseInt(0) + k), b: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i)
                        };
                        if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                        else {
                            rgbarry.push(marry);
                        }
                    }
                    marry = {
                        r: -1, g: -1, b: -1
                    };
                    rgbarry.push(marry);
                }
            }

        }
        for (var i = parseInt(slider); i <= parseInt(limit); i += parseInt(slider)) {
            if (B <= 255) {
                for (var j = 0; j <= parseInt(limit); j += parseInt(slider)) {
                    marry = {
                        r: (parseInt(0) + j) > 255 ? 255 : (parseInt(0) + j), g: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i), b: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i)
                    };
                    if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                    else {
                        rgbarry.push(marry);
                    }
                }
                marry = {
                    r: -1, g: -1, b: -1
                };
                rgbarry.push(marry);
                for (var k = 0; k <= parseInt(limit); k += parseInt(slider)) {
                    marry = {
                        r: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i), g: (parseInt(0) + k) > 255 ? 255 : (parseInt(0) + k), b: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i)
                    };
                    if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                    else {
                        rgbarry.push(marry);
                    }
                }
                marry = {
                    r: -1, g: -1, b: -1
                };
                rgbarry.push(marry);
                for (var l = 0; l <= parseInt(limit); l += parseInt(slider)) {
                    marry = {
                        r: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i), g: (parseInt(B) + i) > 255 ? 255 : (parseInt(B) + i), b: (parseInt(0) + l) > 255 ? 255 : (parseInt(0) + l)
                    };
                    if (Boolean(rgbarry.find(x => x.r === marry.r && x.g === marry.g && x.b === marry.b))) { }
                    else {
                        rgbarry.push(marry);
                    }
                }
                marry = {
                    r: -1, g: -1, b: -1
                };
                rgbarry.push(marry);
            }

        }
        //var s = document.body.innerHTML;
        // document.body.innerHTML = s.replace(/(\<br[\s]*\/?\>[\s]*)+/g, '<br/>');
        var html = "";
        var dvr = "<div class='range'>";
        $("#HDNtotno").val(rgbarry.length);
        for (var i = 0; i < rgbarry.length; i++) {
            //if (rgbarry[i].r == 255 || rgbarry[i].g == 255 || rgbarry[i].b == 255) {

            //    dvr += " <button type='button' id='dvr_" + i + "'  onclick='get(this);' class='btn' style='background-color:rgb(" + rgbarry[i].r + ", " + rgbarry[i].g + ", " + rgbarry[i].b + ");height: 25px; ' title='rgb(" + rgbarry[i].r + ", " + rgbarry[i].g + ", " + rgbarry[i].b + ")'></button> <input type='hidden'  id='HdnC' value='" + i + "' /> <br/>";
            //}
            if (rgbarry[i].r == -1 && rgbarry[i].g == -1 && rgbarry[i].b == -1) {
                dvr += " <br/>";
            }
            else {
                dvr += " <button type='button' id='dvr_" + i + "'  onclick='get(this);' class='btn' style='background-color:rgb(" + rgbarry[i].r + ", " + rgbarry[i].g + ", " + rgbarry[i].b + ");height: 25px; ' title='rgb(" + rgbarry[i].r + ", " + rgbarry[i].g + ", " + rgbarry[i].b + ")'></button> <input type='hidden'  id='" + i + "' value='" + i + "' />";
            }

        }
        dvr.replace(/<br\W?\\?>(\W?(<br\W?\\?>)+)+/g, "<br>");
        dvr += "</div>";

        $("#gdrow")[0].innerHTML = dvr;
        // $("gdrow").replace(/<br\W?\\?>(\W?(<br\W?\\?>)+)+/g, "<br>");
        //$("#dvr_3").attr("checked", "checked");
        //$("#dvr_3").attr("disabled", true);
        //$("#dvg_3").attr("checked", "checked");
        //$("#dvg_3").attr("disabled", true);
        //$("#dvb_3").attr("checked", "checked");
        //$("#dvb_3").attr("disabled", true);

        //$("#dvr1_3").attr("checked", "checked");
        //$("#dvr1_3").attr("disabled", true);
        //$("#dvg1_3").attr("checked", "checked");
        //$("#dvg1_3").attr("disabled", true);
        //$("#dvb1_3").attr("checked", "checked");
        //$("#dvb1_3").attr("disabled", true);
        //$("#dvr2_3").attr("checked", "checked");
        //$("#dvr2_3").attr("disabled", true);
        // $("gdrow").innerHTML.replace(/<br\W?\\?>(\W?(<br\W?\\?>)+)+/g, "<br>");
        $('body').html($('body').html().replace(/<br\W?\\?>(\W?(<br\W?\\?>)+)+/g, "<br/>"));
    }
    $(document).ready(function () {

        loadcol();


        $('body').html($('body').html().replace(/<br\W?\\?>(\W?(<br\W?\\?>)+)+/g, "<br>"));
    });

    function chek(sender) {
        // alert(sender);
        $("#" + sender + "").css({ 'border': '2px solid lime' });
    }

    $(document).ready(function () {
        $("#test li").click(function () {
            $('#test li').css({ 'border': '0px solid' });
            $(this).css({ 'border': '2px solid lime' });
            var color = $(this).css("background-color");
            $("#HdnCol").val(color);
        });
    });
</script>

<div class="container">
    @*<div class="row">
        <form>
            <div class="form-group">
                <label class="control-label">District:</label>*@
    @*@Html.DropDownList("list", (IEnumerable<SelectListItem>)ViewBag.DistrictList, new {id="ddl", @class="form-control" })*@
    @*<select  class="form-control" asp-items="@(new SelectList(ViewBag.DistrictList, "Value", "Text"))"></select>*@
    @*</div>
            </form>
        </div>*@
    <form>
        <div class="container-fluid">

            <div class="alert alert-info" role="alert">
                COLOR MAPPING TOOL
            </div>
            <div class="row">
                <div class="col-4">
                    <p class="card-text">Select a category to load imprint colors.</p>
                    <div class="form-floating col-6">
                            @Html.DropDownList("list", (IEnumerable<SelectListItem>)ViewBag.DistrictList, new {id="ddl", @class="form-control" })
                        @*<select id="fromid" class="form-select">
                            <option selected="1">Ceremic</option>
                            <option value="2">Totes</option>
                            <option value="3">Tumblers</option>
                            <option value="4">Glassware</option>
                        </select>*@
                        <label id="floatingSelectGrid" for="floatingSelectGrid">Category</label>
                    </div>
                </div>
                <div class="col-2">
                    <label for="customRange3" class="form-label">+- Range Value (<label id="lblVal">21</label>) </label>
                    <input type="range" class="form-range" min="5" max="21" step="2" value="21" id="customRange3" onchange="updateTextInput(this.value);">
                </div>
                <div class="col-2">
                    <button type="button" onclick="Save(); return false;" class="btn btn-success">Save Range</button>
                </div>
            </div>
            <div class="card-body">
                <!-- Imprint COlors-->
                <p class="card-text">Imprint colors.</p>
                <div class="row">
                    <ul class="id-colors ul-color-palette" id="test">
                        <li class="id-color text-color-palette selected" id="1" onclick="chek(this.id)" color-uuid="46409d4e-c863-4280-9735-26408b1101f7" color-hex="#000000" color-name="Black" title="" style="background-color: rgb(0, 0, 0);" data-original-title="Black"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" id="2" onclick="chek(this.id)" color-uuid="ebdf2c9e-6321-42a2-9a68-747b7a7cfb72" color-hex="#FFFFFF" color-name="White" title="" style="background-color: rgb(255, 255, 255);" data-original-title="White"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="c95c51e5-93fc-4dcc-bc5f-2d2b8dc37eef" color-hex="#717073" color-name="Charcoal Gray" title="" style="background-color: rgb(113, 112, 115);" data-original-title="Charcoal Gray"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="9648af59-67a2-4ab9-85f1-a40bde6f5277" color-hex="#FFE800" color-name="Lemon Yellow" title="" style="background-color: rgb(255, 232, 0);" data-original-title="Lemon Yellow"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="84a7cd5c-aa43-49c1-9b4f-76911d6393ea" color-hex="#FFC425" color-name="Golden Yellow" title="" style="background-color: rgb(255, 196, 37);" data-original-title="Golden Yellow"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="199afe5c-db5a-40b7-886c-23f599b53707" color-hex="#F75310" color-name="Orange" title="" style="background-color: rgb(247, 83, 16);" data-original-title="Orange"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="285680f9-b328-4be5-8c55-0bd6e91217cd" color-hex="#E86D1F" color-name="Burnt Orange" title="" style="background-color: rgb(232, 109, 31);" data-original-title="Burnt Orange"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="abf1ef21-292a-4549-9cc3-bde77b2456e7" color-hex="#EE3124" color-name="Red Orange" title="" style="background-color: rgb(238, 49, 36);" data-original-title="Red Orange"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="8d7c6b8e-5a65-406b-9f8c-d6623ab33673" color-hex="#E31837" color-name="Bright Red" title="" style="background-color: rgb(227, 24, 55);" data-original-title="Bright Red"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="6e0bdfc6-7459-46c4-8f04-15ca296028fa" color-hex="#8E001C" color-name="Maroon" title="" style="background-color: rgb(142, 0, 28);" data-original-title="Maroon"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="18a1ffb6-a365-49d3-8071-de11c2722b19" color-hex="#470B07" color-name="Dark Brown" title="" style="background-color: rgb(71, 11, 7);" data-original-title="Dark Brown"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="d1f4567f-1072-4673-ab0f-cc5b2f8df108" color-hex="#7C0040" color-name="Burgundy Wine" title="" style="background-color: rgb(124, 0, 64);" data-original-title="Burgundy Wine"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="abb7f803-ea48-40ff-8c7a-9d8b0fa21a84" color-hex="#E20177" color-name="Magenta" title="" style="background-color: rgb(226, 1, 119);" data-original-title="Magenta"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="124fcc0b-bfaa-48b1-8d1f-d8f2cb537fca" color-hex="#E64097" color-name="Fuchsia RH" title="" style="background-color: rgb(230, 64, 151);" data-original-title="Fuchsia RH"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="f7b08a7b-154b-47d7-ab00-6ead48aef8ac" color-hex="#EC84B5" color-name="Light Pink" title="" style="background-color: rgb(236, 132, 181);" data-original-title="Light Pink"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="76e1c75b-cd60-4266-838c-5f32ff0e78bd" color-hex="#C3ABD3" color-name="Lavender" title="" style="background-color: rgb(195, 171, 211);" data-original-title="Lavender"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="7bd8ede5-2c89-4429-8cb6-fd5a912d62ab" color-hex="#46166B" color-name="Violet" title="" style="background-color: rgb(70, 22, 107);" data-original-title="Violet"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="5f9ae66a-ebeb-44ba-86d4-90d6ced96c08" color-hex="#0096D6" color-name="Sky Blue" title="" style="background-color: rgb(0, 150, 214);" data-original-title="Sky Blue"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="ab4e0c4d-8f94-4fa4-8243-4f22dc2864fc" color-hex="#007DC3" color-name="Steel Blue" title="" style="background-color: rgb(0, 125, 195);" data-original-title="Steel Blue"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="81ba86a2-0bb8-4ce7-93e7-1d3a5ae54aad" color-hex="#005DAA" color-name="Medium Blue 286" title="" style="background-color: rgb(0, 93, 170);" data-original-title="Medium Blue 286"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="06ae1984-d01c-4edd-8273-b8c8de0ef24f" color-hex="#1A2691" color-name="Blue" title="" style="background-color: rgb(26, 38, 145);" data-original-title="Blue"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="c7c863d2-2a70-49e7-aed5-0109e4c22d0a" color-hex="#261EA4" color-name="Blue" title="" style="background-color: rgb(38, 30, 164);" data-original-title="Blue"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="d9713161-1cb3-4105-8427-34ddfdcdccc7" color-hex="#002D62" color-name="Dark Blue" title="" style="background-color: rgb(0, 45, 98);" data-original-title="Dark Blue"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="66455f90-d066-4e77-a326-dc0500fc33a2" color-hex="#008672" color-name="Teal Jade" title="" style="background-color: rgb(0, 134, 114);" data-original-title="Teal Jade"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="f0fa98ae-895e-4a5d-8e7c-2f4fcdb3b0aa" color-hex="#7AC143" color-name="Lime Green" title="" style="background-color: rgb(122, 193, 67);" data-original-title="Lime Green"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="00cd8c95-e396-4fe1-bb08-e802b5cae2b1" color-hex="#00A94F" color-name="Irish Green" title="" style="background-color: rgb(0, 169, 79);" data-original-title="Irish Green"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="081c5169-9530-4de3-80f3-7ca2518e0901" color-hex="#004712" color-name="Dark Green" title="" style="background-color: rgb(0, 71, 18);" data-original-title="Dark Green"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="5fb5b7c7-a2d5-4c42-b05a-0b7f06e331fb" color-hex="#8B8D8D" color-name="Matte Silver " title="" style="background-color: rgb(139, 141, 141);" data-original-title="Matte Silver "><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                        <li class="id-color text-color-palette" color-uuid="e433ed20-ff39-48d3-929a-2bf41cb688df" color-hex="#886D4B" color-name="Matte Gold" title="" style="background-color: rgb(136, 109, 75);" data-original-title="Matte Gold"><span class="id-delete-badge" data-badge="X" style="display: none"></span></li>
                    </ul>
                    <input type="hidden" id="HdnCol" />
                    <input type="hidden" id="HdnCol1len" />
                    <input type="hidden" id="HdnCol2len" />
                    <input type="hidden" id="HdnCol3len" />
                    <input type="hidden" id="HdnCol4len" />
                    <input type="hidden" id="HdnCol5len" />
                    <input type="hidden" id="HdnCol6len" />
                    <input type="hidden" id="HdnCol7len" />
                </div>
            </div>


            <!--<div class="row">-->
            <!--Range 1-->
            <!--<div class="col range">
                <h6><span class="badge bg-secondary">Range(+-10, 0, 0)</span></h6>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(255, 24, 55);">
                        <span class="badge badge-light">rgb(255, 24, 55)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(247, 24, 55);">
                        <span class="badge badge-light">rgb(247, 24, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(237, 24, 55);">
                        <span class="badge badge-light">rgb(237, 24, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 55);">
                        <span class="badge badge-light">rgb(227, 24, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(217, 24, 55);">
                        <span class="badge badge-light">rgb(217, 24, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(207, 24, 55);">
                        <span class="badge badge-light">rgb(207, 24, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(197, 24, 55);">
                        <span class="badge badge-light">rgb(197, 24, 55)</span>
                    </button>
                </div>
            </div>-->
            <!--Range 2-->
            <!--<div class="col range">
                <h6><span class="badge bg-secondary">Range(0, +-10, 0)</span></h6>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 54, 55);">
                        <span class="badge badge-light">rgb(227, 54, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 44, 55);">
                        <span class="badge badge-light">rgb(227, 44, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 34, 55);">
                        <span class="badge badge-light">rgb(227, 34, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 55);">
                        <span class="badge badge-light">rgb(227, 24, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 14, 55);">
                        <span class="badge badge-light">rgb(227, 14, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 4, 55);">
                        <span class="badge badge-light">rgb(227, 4, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 0, 55);">
                        <span class="badge badge-light">rgb(227, 0, 55)</span>
                    </button>
                </div>
            </div>-->
            <!--Range 3-->
            <!--<div class="col range">
                <h6><span class="badge bg-secondary">Range(0, 0, +-10)</span></h6>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 85);">
                        <span class="badge badge-light">rgb(227, 24, 85)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 75);">
                        <span class="badge badge-light">rgb(227, 24, 75)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 65);">
                        <span class="badge badge-light">rgb(227, 24, 65)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 55);">
                        <span class="badge badge-light">rgb(227, 24, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 45);">
                        <span class="badge badge-light">rgb(227, 24, 45)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 35);">
                        <span class="badge badge-light">rgb(227, 24, 35)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 25);">
                        <span class="badge badge-light">rgb(227, 24, 25)</span>
                    </button>
                </div>
            </div>-->
            <!--Range 4-->
            <!--<div class="col range">
                <h6><span class="badge bg-secondary">Range(+-10, +-10, 0)</span></h6>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(255, 54, 55);">
                        <span class="badge badge-light">rgb(255, 54, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(247, 44, 55);">
                        <span class="badge badge-light">rgb(247, 44, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(237, 34, 55);">
                        <span class="badge badge-light">rgb(237, 34, 55)</span>
                    </button>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 55);">
                        <span class="badge badge-light">rgb(227, 24, 55)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(217, 14, 55);">
                        <span class="badge badge-light">rgb(217, 14, 55)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(207, 4, 55);">
                        <span class="badge badge-light">rgb(207, 4, 55)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(197, 0, 55);">
                        <span class="badge badge-light">rgb(197, 0, 55)</span>
                    </button>
                </div>
            </div>-->
            <!--Range 5-->
            <!--<div class="col range">
                <h6><span class="badge bg-secondary">Range(+-10, 0, +-10)</span></h6>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(255, 24, 85);">
                        <span class="badge badge-light">rgb(255, 24, 85)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(247, 24, 75);">
                        <span class="badge badge-light">rgb(247, 24, 75)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(237, 24, 65);">
                        <span class="badge badge-light">rgb(237, 24, 65)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 55);">
                        <span class="badge badge-light">rgb(227, 24, 55)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(217, 24, 45);">
                        <span class="badge badge-light">rgb(217, 24, 45)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(207, 24, 35);">
                        <span class="badge badge-light">rgb(207, 24, 35)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(197, 24, 25);">
                        <span class="badge badge-light">rgb(197, 24, 25)</span>
                    </button>
                </div>
            </div>-->
            <!--Range 6-->
            <!--<div class="col range">
                <h6><span class="badge bg-secondary">Range(0, +-10, +-10)</span></h6>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 54, 85);">
                        <span class="badge badge-light">rgb(227, 54, 85)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 44, 75);">
                        <span class="badge badge-light">rgb(227, 44, 75)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 34, 65);">
                        <span class="badge badge-light">rgb(227, 34, 65)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 55);">
                        <span class="badge badge-light">rgb(227, 24, 55)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 14, 45);">
                        <span class="badge badge-light">rgb(227, 14, 45)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 4, 35);">
                        <span class="badge badge-light">rgb(227, 4, 35)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 0, 25);">
                        <span class="badge badge-light">rgb(227, 0, 25)</span>
                    </button>
                </div>
            </div>-->
            <!--Range 2-->
            <!--<div class="col range">
                <h6><span class="badge bg-secondary">Range(+-10, +-10, +-10)</span></h6>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(255, 54, 85);">
                        <span class="badge badge-light">rgb(255, 54, 85)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(247, 44, 75);">
                        <span class="badge badge-light">rgb(247, 44, 75)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(237, 34, 65);">
                        <span class="badge badge-light">rgb(237, 34, 65)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(227, 24, 55);">
                        <span class="badge badge-light">rgb(227, 24, 55)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(217, 14, 45);">
                        <span class="badge badge-light">rgb(217, 14, 45)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(207, 4, 35);">
                        <span class="badge badge-light">rgb(207, 4, 35)</span>
                    </button>
                </div>

                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <button type="button" class="btn" style="background-color: rgb(197, 0, 25);">
                        <span class="badge badge-light">rgb(197, 0, 25)</span>
                    </button>
                </div>
            </div>-->
            <!--</div>-->
            <div class="row" id="gdrow">

            </div>
            <input type="hidden" id="HDNtotno" />
        </div>
    </form>
    <style>
        li {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
            --blue: #007bff;
            --indigo: #6610f2;
            --purple: #6f42c1;
            --pink: #e83e8c;
            --red: #dc3545;
            --orange: #fd7e14;
            --yellow: #ffc107;
            --green: #28a745;
            --teal: #20c997;
            --cyan: #17a2b8;
            --white: #fff;
            --gray: #6c757d;
            --gray-dark: #343a40;
            --primary: #007bff;
            --secondary: #6c757d;
            --success: #28a745;
            --info: #17a2b8;
            --warning: #ffc107;
            --danger: #dc3545;
            --light: #f8f9fa;
            --dark: #343a40;
            --breakpoint-xs: 0;
            --breakpoint-sm: 576px;
            --breakpoint-md: 768px;
            --breakpoint-lg: 992px;
            --breakpoint-xl: 1200px;
            --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            font-family: 'Roboto', sans-serif;
            font-size: 1vw;
            list-style-type: none;
            box-sizing: border-box;
            display: inline-block;
            cursor: pointer;
            margin-right: 0.3vw;
            margin-bottom: 0.3vw;
            width: 2vw !important;
            height: 2vw !important;
            min-width: 28px;
            min-height: 28px;
            max-width: 39px;
            max-height: 39px;
            border-radius: 0.5vw;
            float: unset;
            /*border: 0.15vw solid #fff !important;*/
            position: relative;
            top: 0px;
            box-shadow: 1px 2px 4px #686868;
            background-color: rgb(0, 0, 0);
        }

        .btn {
            margin-bottom: 5px;
        }
    </style>
    <script type="text/javascript">
        //function Save() {
        //    var totalrow = $("#HDNtotno").val();
        //    var rgbarry = new Array();
        //    var marry = {};
        //    for (var i = 0; i <= parseInt(totalrow); i++) {
        //        if ($("#dvr_" + i + "").length > 0) {
        //            if ($("#dvr_" + i + "").css('border') == '2px solid lime') {
        //                for (var j = i; j <= parseInt(totalrow); j++) {
        //                    if ($("#dvr_" + j + "").css('border') != '2px solid lime') {
        //                        $("#dvr_" + j + "").css({ 'border': '2px solid lime' });
        //                    }
        //                    else {
        //                        break;
        //                    }
        //                }
                       
        //            }
        //        }
        //    }
        //    //var data1 = {
        //    //    stRange: $("#lblVal").text(),
        //    //    stBaseColor: $("#HdnCol").val(),
        //    //    stVal:"3"
        //    //};
        //    //$.ajax({
        //    //    type: "POST",
        //    //    url: "/Home/Insert",
        //    //    content: "application/json; charset=utf-8",
        //    //    dataType: "json",
        //    //    data: data1,
        //    //    success: function (d) {
        //    //        alert("Record Save Successfully");
        //    //    },
        //    //    error: function (xhr, textStatus, errorThrown) {
        //    //        alert("error");
        //    //    }
        //    //});
        //    //return false;
        //}
    </script>
</div>